@use '../../styles/base/buttons' as *;
@use '../../styles/base/variables' as *;

@media only screen /*and (max-width: 480px)*/ {
    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .content {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 2rem 3rem;
            text-align: center;

            &__text {
                margin: auto 6rem;
            }
        }

        .door {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 2rem;
            opacity: 0;
            
            @include glitch-animation('../../assets/img/exit-logo.svg');

            &__img {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                max-width: 100px;

                .img {
                    //@include pic-animation();
                    margin-bottom: 2rem;
                }

                button {
                    font-size: larger;
                    font-weight: 900;
                    font-family: 'Pixelify Sans', sans-serif;
                    margin-bottom: 1rem;
                }
            }

            &__content {
                min-height: 7rem;

                &__text {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }

        .riddle {
            box-shadow: 10px 10px 30px 2px $primary-font-color;
            padding: 3rem;
            text-align: center;
            border: 2px solid white;
        }
    }
}