@use '../../styles/base/variables' as *;
@use '../../styles/base/buttons' as *;

@media only screen /*and (max-width: 480px)*/ {
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 2rem auto;
        position: relative;

        .ico {
            position: absolute;
            left: 0;
            margin-left: 3rem;
            font-size: 2.5rem;
            padding: 0;
            user-select: none;

            @include glitch-animation();
            @include pic-animation-custom(1.3, 1.2);
        }
        
        .container__logo {
            margin-top: 3rem;
            max-width: 15rem;
            filter: drop-shadow(5px 10px 10px $shadow-color);

            &_error {
                margin-top: 3rem;
                max-width: 15rem;
                filter: drop-shadow(5px 10px 10px $error-color);
                @include glitch-animation('../../assets/img/exit-logo.svg', .4s, .5s, 1);
            }
            
            &_logo {
                @include glitch-animation('../../assets/img/exit-logo.svg');
            }
        }
    }

    .error_text {
        color: $error-color;
    }
}

@media (max-width: 430px) {
    .container {
        margin-bottom: .5rem;

        .ico {
            font-size: 1.6rem;
        }
    }
}