@use '../../../styles/base/buttons' as *;
@use '../../../styles/base/variables' as *;

.custom__button {
    @include pic-animation();
    @include button-colors($primary-font-color, $secondary-font-color);

    border-radius: .5rem;
    border-color: 1px solid transparent;
    padding: .5rem 2.5rem;
}