@use '../base/variables';

html {
    box-sizing: border-box;
    font-size: 62.5%;

    *,
    *::before,
    *::after {
        box-sizing: inherit;
    }

    body {
        background-color: black;
        color: variables.$primary-font-color;
        overflow-x: hidden;
        overflow-y: hidden;
        font-family: variables.$primary-font;
        font-size: 1.6rem;
        margin: 0 auto;
        padding: 0;
        height: 100vh;

        p {
            font-size: 2rem;
            line-height: 3rem;
        }

        a {
            text-decoration: none;

        }

        img {
            max-width: 100%;
            display: block;
        }

        h1 {
            font-size: 4rem;
        }

        h2 {
            font-size: 3.5rem;
        }

        h3 {
            font-size: 2.5rem;
        }

        span {
            line-height: 1.35;
            text-align: center;
        }

        .container {
            max-width: 120rem;
            width: 95%;
            margin: 0 auto;
        }

        .shadow {
            box-shadow: 5px 4px 14px 1px variables.$shadow-color;
        }
    }
}